<%=render partial: 'navbar' %>
<div>
  <h1>Register your company here</h1>
  <div align="center" >
    <%= form_for :company, url: create_company_employer_dashboard_index_path do |f| %>


        <p>
          <%= f.label :name, value="Company Name" %><br>
          <%= f.text_field :name, class:"formClass" %>
        </p>

        <p>
          <%= f.label :number_of_employee, value="Size of company" %><br>
          <%= f.text_field :number_of_employee,class:"formClass" %>
        </p>
        <p>
          <%= f.label :location, value="Address" %><br>
          <%= f.text_area :location, class:"formClass" %>
        </p>
        <p>
          <%= f.label :website, value="Company URL" %><br>
          <%= f.text_field :website, class:"formClass" %>
        </p>
        <p>
          <%= f.label :phone, value="Company Number" %><br>
          <%= f.text_field :phone, class:"formClass" %>
        </p>
        <p>
          <%= f.label :jobs, value="Number of vacancies" %><br>
          <%= f.text_field :jobs, class:"formClass" %>
        <p>
        <p>
          <%= f.hidden_field :user_id, :value => current_user.id %>
        </p>

        <p>
          <%= f.submit "Create company", class: "form-control submitBtn", value: "Create company" %>
        </p>
    <% end %>
  </div>
</div>
<style>
  .formClass{
    color:#000000;
  }
  .submitBtn{
    width: 10%;
  }
</style>
