<%=render partial: 'navbar' %>
<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Available Jobs</h5>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered favs-list">
          <thead>
          <tr>
            <th>
              Company Name
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Size of Company
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Address
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              website
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Contact Number
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Vacancies
              <i class="fa fa-caret-down pull-right"></i>
            </th>
          </tr>
          </thead>
          <tbody>
          <% @company.each do |company| %>
              <tr class="gradeX">
                <td min_width="50%;">
                  <%= company["name"] %>
                </td>
                <td>
                  <%= company["number_of_employee"] %>
                </td>
                <td class="text-center">
                  <%= company["location"] %>
                </td>
                <td class="text-center">
                  <%= company["website"] %>
                </td>
                <td class="text-center">
                  <%= company["phone"] %>
                </td>
                <td class="text-center">
                  <%= company["jobs"] %>
                </td>

              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $('.hello').dataTable();
</script>