<div>
  <h3>Apply for job</h3>
  <div align="center">
    <%= link_to 'Back', :back %>
    <%= form_for :apply, url: submit_form_jobseeker_dashboard_path do |f| %>
        <p>
          <%= f.label :applicant_name, value="Enter your Name" %><br>
          <%= f.text_field :applicant_name, class: "formClass" %>
        </p>
        <p>
          <%= f.label :email, value="Enter your Email" %><br>
          <%= f.text_field :email, class: "formClass" %>
        <p>
          <%= f.label :current_salary, value="Current Salary" %><br>
          <%= f.text_field :current_salary, class: "formClass" %>
        </p>
        <p>
          <%= f.label :expected_salary, value="Expected Salry" %><br>
          <%= f.text_field :expected_salary, class: "formClass" %>
        </p>
        <%= f.label :uploaded_file, 'Upload only pdf file'%>
        <%= f.file_field :uploaded_file%>
          <%= f.submit "Apply job", class: "form-control submitBtn", value: "Apply Job" %>
        </p>
        <p>
        <p>
          <%= f.hidden_field :job_id, :value => @job_id %>
        </p>
        </p>
    <% end %>
  </div>
</div>
<style>
  .formClass {
    color: #000000;
  }

  .submitBtn {
    width: 10%;
  }
</style>
