<%= render partial: 'navbar' %>
<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Available Jobs</h5>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered favs-list">
          <thead>
          <tr>
            <th>
              Sr.No
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Job Title
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Company Name
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Action
              <i class="fa fa-caret-down pull-right"></i>
            </th>
          </tr>
          </thead>
          <tbody>
          <% @jobs.each_with_index do |job| %>
              <tr class="gradeX">
                <td min_width="50%;">
                  <%= job["id"] %>
                </td>
                <td>
                  <%= job["job_title"] %>
                </td>
                <td class="text-center">
                  <%= job["company_name"] %>
                </td>
                <td class="text-center">
                  <%= link_to "View",postjob_path(job["id"]) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $('.hello').dataTable();
</script>