<div class="col-sm-4 col-md-4 log-in-right-panel" >
  <h3>Sign In</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), role: "form") do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true,id: "email", class: "form-control log-in-mail", type: "email", placeholder: "Email Address"  %>
        <%= f.password_field :password, autocomplete: "off",type: "password", class: "form-control log-in-password", placeholder:"Password" %>
        <div class="forget-stay-conatiner">
          <% if devise_mapping.rememberable? -%>
              <div class="checkbox ">
                <label>
                  <%= f.check_box :remember_me,type: "checkbox" %> Stay logged in
                </label>
              </div>
          <% end -%>
          <%= link_to "Forgot password?", new_password_path(resource_name),class: "forget-password" %><br />
        </div>
        <%= f.submit "Log in",class:"form-control submit", value:"Log In" %>
      </div>
  <% end %>
  <h3>New Register</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control log-in-mail", placeholder: "Email Address" %>
        <%= f.password_field :password, autocomplete: "off",class: "form-control log-in-password",placeholder: "Password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control log-in-password", placeholder: "Ret-type your password" %></br>Who are you ?
        <div class ="select"><%= f.select :account_type, ['EMPLOYER','JOBSEEKR'], :prompt => 'Select One' ,style: "color: black;" %></br></div>
        <%= f.submit "Sign up",class:"form-control submit", value:"Sign Up" %>
      </div>
  <% end %>

</div>
<style>
  .select{
    color: black;
  }
</style>