<%= render partial: 'navbar' %>
<div>
  <h1>Edit info</h1>
  <div align="center">
    <%= form_for :job, url: postjob_path(@job), method: :patch do |f| %>
        <p>
          <%= f.label :job_title, value="Job Title" %><br>
          <%= f.text_field :job_title, class: "formClass" %>
        </p>

        <p>
          <%= f.label :job_description, value="Job Description" %><br>
          <%= f.text_area :job_description, class: "formClass" %>
        </p>
        <p>
          <%= f.label :company_name, value="Company Name" %><br>
          <%= f.text_field :company_name, class: "formClass" %>
        </p>
        <p>
          <%= f.label :skills, value="Skills required" %><br>
          <%= f.text_field :skills, class: "formClass" %>
        </p>
        <p>
          <%= f.label :qualification, value="Qualification" %><br>
          <%= f.select :qualification, ['Non-Matriculation', 'Matriculation/O-Level', 'Intermediate/A-Level', 'Bachelors', 'Masters', 'Certification', 'PHD/Doctorate'], :prompt => 'Select One', class: "formClass" %>
        </p>
        <p>
          <%= f.label :experience, value="Experiance Required" %><br>
          <%= f.select :experience, ['Fresh', '1+', '2+', '3+', '4+', '5+'], :prompt => 'Select One', class: "formClass" %>
        <p>
          <%= f.label :salary, value="Salray range" %><br>
          <%= f.select :salary, ['5k-10k', '10k-20k', '20k-30k', '30k-40k', '40k-50k', '50-60k', '60k-70k', '70k-80k', '80k-90k', '90k-100k', '100k+'], :prompt => 'Select One', class: "formClass" %>
        </p>
        <p>
          <%= f.submit "Update job", class: "form-control submitBtn", value: "Post Job" %>
        </p>
    <% end %>
  </div>
</div>
<style>
  .formClass {
    color: #000000;
  }

  .submitBtn {
    width: 10%;
  }
</style>
