<%=render partial: 'navbar' %>
<div class=" col-sm-4">
  <h3>Available Jobs</h3>
  <table>
    <thead>
    <th>Sr.#</th>
    <th>Job Title</th>
    <th>Job Description</th>
    <th>Company Name</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <% @jobs.each_with_index do |job| %>
        <tr>
          <td>
            <%= job["id"] %>
          </td>
          <td>
            <%= job["job_title"] %>
          </td>
          <td>
            <%= job["job_description"] %>
          </td>
          <td>
            <%= job["company_name"] %>
          </td>
          <td>
            <%= link_to "View",postjob_path(job["id"]) %>
            <%= "||" %>
            <%= link_to "Edit",edit_postjob_path(job["id"]) %>
            <%= "||" %>
            <%= link_to "Delete", postjob_path(job[:id]),  method: :delete, data: { confirm: 'Are you sure to delete this post ?' } %>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= render 'layouts/footer' %>

