<%= render partial: 'navbar' %>
<div>
  <h3>Post a job</h3>
  <div align="center" class="select">
    <%= form_for :job, url: postjobs_path do |f| %>
        <p>
        <div class="form_class"><%= f.label :job_title, value="Job Title" %></div><br>
          <%= f.text_field :job_title, class: "formClass" %>
        </p>

        <p>
        <div class="form_class"><%= f.label :job_description, value="Job Description" %></div><br>
          <%= f.text_area :job_description, class: "formClass" %>
        </p>
        <p>
        <div class="form_class"><%= f.label :company_name, value="Company Name" %></div><br>
          <%= f.text_field :company_name, class: "fo" %>
        </p>
        <p>
        <div class="form_class"><%= f.label :skills, value="Skills required" %></div><br>
          <%= f.text_field :skills, class: "formClass" %>
        </p>

        <p>
        <div class="form_class"><%= f.label :qualification, value="Qualification" %></div><br>
          <%= f.select :qualification, ['Non-Matriculation', 'Matriculation/O-Level', 'Intermediate/A-Level', 'Bachelors', 'Masters', 'Certification', 'PHD/Doctorate'], :prompt => 'Select One', class: "formClass" %>
        </p>
        <p>
          <div class="form_class"><%= f.label :experience, value="Experiance Required" %></div><br>
          <%= f.select :experience, ['Fresh', '1+', '2+', '3+', '4+', '5+'], :prompt => 'Select One', class: "formClass" %>
        <p>
          <div class="form_class"> <%= f.label :salary, value="Salray range" %></div><br>
          <%= f.select :salary, ['5k-10k', '10k-20k', '20k-30k', '30k-40k', '40k-50k', '50-60k', '60k-70k', '70k-80k', '80k-90k', '90k-100k', '100k+'], :prompt => 'Select One', class: "formClass" %>
        </p>

        <p>
          <%= f.hidden_field :company_id, :value => @company_id %>
        </p>

        <p>
          <%= f.submit "Post job", class: "form-control submitBtn", value: "Post Job" %>
        </p>
    <% end %>
  </div>
</div>
<style>
  .select{
    color: black;
  }
  .form_class {
    color: white;
  }

  .submitBtn {
    width: 10%;
  }
</style>
