<%= render partial: 'navbar' %>
<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h4>Job Details</h4>
      </div>
      <div class="ibox-content">
        <table class="table table-bordered favs-list">
          <thead>
          <tr>
            <th>
              Job Title
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Job Description
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Company Name
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Skills required
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Qualification
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Experiance Rquired
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <th>
              Salary Range
              <i class="fa fa-caret-down pull-right"></i>
            </th>
            <% if current_user.account_type == 'JOBSEEKR' %>
          <th>
              Action
              <i class="fa fa-caret-down pull-right"></i>
            </th>
                <% end %>
          </tr>
          </thead>
          <tbody>
          <tr class="gradeX">
            <td min_width="50%;">
              <%= @job["job_title"] %>
            </td>
            <td>
              <%= @job["job_description"] %>
            </td>
            <td class="text-center">
              <%= @job["company_name"] %>
            </td>
            <td class="text-center">
              <%= @job["skills"] %>
            </td>
            <td class="text-center">
              <%= @job["qualification"] %>
            </td>
            <td class="text-center">
              <%= @job["experience"] %>
            </td>
            <td class="text-center">
              <%= @job["salary"] %>
            </td>
            <% if current_user.account_type == 'JOBSEEKR' %>
            <td class="text-center">
              <%= link_to "Apply ",apply_form_jobseeker_dashboard_path(@job["id"]) %>
            </td>
                <% end %>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $('.hello').dataTable();
</script>