<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Job Site</h1>
          <p class="intro-text">You can post a job or you can get hire.<br>Created originally by Ferhan Nasim.</p>
        </div>
      </div>
    </div>
  </div>
</header>
